<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>公演 - 詳細 | XCAA-DB</title>
  </head>
  <body>
    <h2>公演 - 詳細</h2>

    <h3>基本情報</h3>
    <p>
      <table>
        <tbody>
          <tr>
            <th scope="row">日時</th>
            <td>{{performance.date}}</td>
          </tr>
          <tr>
            <th scope="row">時間枠</th>
            <td>{{performance.time_slot}}</td>
          </tr>
          <tr>
            <th scope="row">連</th>
            <td>{{performance.group_name}}</td>
            <td><a href="{{url_for('groups_group', id=performance.group_id)}}">詳細</a></td>
          </tr>
          <tr>
            <th scope="row">公演場所</th>
            <td>{{performance.venue_name}}</td>
          </tr>
          <tr>
            <th scope="row">会場</th>
            <td>{{performance.section_name}}</td>
          </tr>
          <tr>
            <th scope="row">収容人数</th>
            <td>{{performance.capacity}} 人</td>
          </tr>
          <tr>
            <th scope="row">予約数</th>
            <td>{{reservation_count}} 件</td>
          </tr>
        </tbody>
      </table>
    </p>

    <p>
      <a href="{{url_for('performances_performances')}}">公演の一覧</a><br/>
      <a href="{{url_for('index')}}">ホームに戻る</a>
    </p>
  </body>
</html>
