<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>参加者の一覧 | XCAA-DB</title>
  </head>
  <body>
    <h2>参加者の一覧</h2>

    <p>
      <form method="POST" action="{{url_for('performers_performers_filtered')}}">
        氏名：<input type="text" name="name_filter" />
        <input type="reset" value="初期値に戻す" />
        <input type="submit" value="検索" />
      </form>
      ワイルドカードとして "%" を使用可能です．
    </p>

    <p id="first">
      <a href="#last">一番下にジャンプ</a>
    </p>

    <p>
      <table>
        <tbody>
          {% for performer in performers %}
          <tr>
            <th scope="row">{{performer.name}}</th>
            <td><a href="{{url_for('performers_performer', id=performer.id)}}">詳細</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>

    <p id="last">
      <a href="#first">一番上にジャンプ</a>
    </p>

    <p>
      <a href="{{url_for('index')}}">ホームに戻る</a>
    </p>
  </body>
</html>
